<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tréllu</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>

    <!-- webpack builds are automatically injected -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
      var socket = require('socket.io-client')('http://127.0.0.1:3333');
      socket.on('connect', function(){
        socket.emit('message', {teste: 1234})
      });
      socket.on('boardUpdate', function(data){
        console.log(data);
      });
      socket.on('disconnect', function(){
        console.log('disconnect');
      });
    </script> -->
  </body>
</html>
