<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tréllu</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>

    <!-- webpack builds are automatically injected -->
    <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.js"></script>
    <script src="https://unpkg.com/@adonisjs/websocket-client"></script>
    <script>
      window.ws = null
      window.ws = adonis.Ws('ws://localhost:3333').connect()
      window.ws.on('open', () => {
        console.log('open')
      })

      window.ws.on('close', () => {
        console.log('close')
      })

      // const board = ws.subscribe('board')
      // board.on('ready', () => {
      //   board.emit('message', 'hello')
      // })

      // board.on('error', (error) => {
      //   console.log(error)
      // })

      // board.on('close', () => {
      //   console.log('close')
      // })
      
    </script>
  </body>
</html>
